*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contact_section{
    height: 80vh;
 
}

#contact_section_heading{
    text-shadow: 2px 2px lightcoral;
}

#contact_btn{
    background-color: lightcoral;
    width: 10%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    border-radius: 8px;
    color: white;
    transition: all 0.5s ease-in-out;
}

#contact_btn:hover{
    background-color: transparent;
    box-shadow: lightcoral 0px 10px 30px;
    border: 2px solid lightcoral;
    color: black;
    
}

.contact_section_info_heading{
   
    width: 50%;
    display: block;
    text-align: center;
}

@media screen and (max-width: 500px) {

    #contact_section{
        height: 60vh;
    }

    #contact_btn{
      
        width: 25%;
        height: 8vh;
    }

    .contact_section_info_heading{
   
        width: 80%;
    }

}