#home_section {
    /* background-image: url('../img/kelly-sikkema-tk9RQCq5eQo-unsplash.jpg'); */
    background-image: url('../img/background.jpg');
    background-size: 100% 100%;
    background-position: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;

}

.container {
    padding: 12% 0% 0% 16.3%;
    color: whitesmoke;
  
}

#contain {
    padding: 12% 0% 0% 6%;
    color: whitesmoke;
}

p {
    font-weight: lighter;
    font-size: 24px;
}

#name {
    font-size: 100px;
}

.last_name {
    color: lightcoral;
}

#text {
    font-size: 60px;
    overflow: hidden;
    color: white;
    
}

#toggel{
    /* color: black; */
    /* color: white; */
    animation: blink .5s step-end infinite alternate;
}


.typing {
    width: 55ch;
    animation: typing 2s steps(53), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    /* border-right: 3px solid; */
    border-radius: 5px;
    font-size: 2em;
    margin-top: 1%;
    margin-left: -2vh;
    /* background-color: lightyellow; */
    padding: 1% !important;
    /* color: white; */
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        color: transparent;
    }
}

#text_span{
   
    width: 50%;
    /* color: black; */
  
}


#web_text{
    color: orange;
}

.brief-info{
    margin: 3% 0 0 0;
    font-size:1.2rem;
    font-weight: lighter;
    color: whitesmoke;
    width: 65%;
}

#social_head{
    font-size: 20px;
    padding: 1%;
    margin: 2% 0 0 0;
    font-weight: bold;
    
}

.social{
    margin-top: 2%;
    font-size: 40px;
    /* background-color: lightcoral; */
    opacity: 0.7;
    color: black;
    width: 22%;
    display: block;
    /* text-align: center; */
    border-radius: 5px;
}

.social_icons{
  margin: 1%;
}

#git:hover{
color: grey;
}

#insta:hover{
    color: #bc2a8d;
}

@media screen and (max-width: 500px) {
    #home_section{
        background-image: url('../img/background.jpg');
        color: white;
        height: 60vh !important;
    }

    .container {
        padding:22% 0 0 1%;
       display: block;
       text-align: center;
    }
    #name {
        font-size: 50px;
    }
    #text {
        font-size: 18px;
        width: 100%;
        
    }

    .typing {
        width: 19ch;
        display: none;
        
    }
    .brief-info{
        width: 100%;
        font-size: 16px;
        color: whitesmoke;
        padding-right: 10px;
    }

    .social{
       
        width: 50%;
        padding: 0%;
        font-size: 26px;
        margin: 5% 0 0 0%;
        background-color: transparent;
        color: white;
       
    }

    #home_section {
        padding-top: 10%;
       
        height: 70vh;
        
    
    }



}