*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
 
    position: fixed;
    top: 0;
    width: 100%;
}

ul{

   display: flex;
    flex-direction: row;
    gap:2rem;
    height: 3.5rem !important;
    background-color: whitesmoke;
    align-items: center;
    width: 100%;
   margin-right: 4rem !important;
    padding: 1rem;
    justify-content: center;
   position: relative;
}
 

li::after {

    display: inline-block;
    content: '';
    margin-top: 0;
    width: 0px;
    height: 2px;
    display: block;
    background: black;
    transition: all 250ms ease-in-out;
  }

li:hover::after{
  
    text-decoration: underline;
    width: 100%;
    margin-top: 5px;
    
}











 
