*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
    overflow-x: hidden;
}
.navbar_desktop{
 
    position: fixed;
    top: 0;
    width: 100%;
    overflow-y: hidden;
}

#desktop_nav_ul{

   display: flex;
    flex-direction: row;
    gap:2rem;
    height: 3.5rem !important;
    background-color: whitesmoke;
    align-items: center;
    width: 100%;
   margin-right: 4rem !important;
    padding: 1rem;
    justify-content: center;
   position: relative;
   overflow: hidden;
}
 

.desktop_nav_li::after {

    display: inline-block;
    content: '';
    margin-top: 0;
    width: 0px;
    height: 2px;
    display: block;
    background: black;
    transition: all 250ms ease-in-out;
  }

  .desktop_nav_li:hover::after{
  
    text-decoration: underline;
    width: 100%;
    margin-top: 5px;
    
}

.boot_nav{
    display: none;
}

@media screen and (max-width: 500px) {
  .navbar_desktop{
    display: none;
  }

  .boot_nav{
    display: block;
    margin: 0%;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 20vh;
    overflow-x: hidden;
  }

  li{
    display: block;
    text-align: center;
  }


li::after {

    /* display: inline-block; */
    text-align: center;
    content: '';
    margin-top: 0;
    margin-left: 40%;
    width: 0px;
    height: 2px;
    display: block;
    background: black;
    transition: all 250ms ease-in-out;
  }
li:hover::after{
  
    text-decoration: underline;
    display: block;
    text-align: center;
    width: 20%;
    margin-top: 5px;
    
}
  
  }









 
