* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#project_section {
    background-image: linear-gradient(#06283D, #293462);
    overflow: hidden;
    min-height: 100vh;
    max-height: 150vh;
    display: grid;
    place-items: center
}

#project_section_heading{
    text-shadow: 2px 2px lightcoral;
}

#projects{
    display: flex;
    justify-content: center;
    /* overflow-x: scroll; */
    width: 100%;
    /* overflow: scroll; */
    padding: 50px 50px;
    /* scrollbar-width: 0px !important; */
    z-index: 0;
    /* padding-left: 50px;
    
    padding-right: 50px; */
}

.project_card {
   
    z-index: 0;
    margin: 10px;
}

.project_card_title{
    color: navy;
}

@media screen and (max-width: 500px) {

    #project_section {
       
        min-height: 250vh;
        max-height: 400vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 0;
    }
    #project_section_heading{
        text-shadow: 2px 2px lightcoral;
        z-index: 0;
    }
    
    #projects{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        padding:20px 20px 20px 20px !important;
        z-index: 0;
        
    }
    
    .project_card {
        
        height: auto;
        width: auto !important;
        z-index: -1;
        margin: 0px;
     
    }

    #scroll{
        display: none;
    }
    
  
}







